<a href="https://colab.research.google.com/github/NonthawatNK/PROJECT-No.-CPE-P001-2-2565/blob/main/Preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set up Spark และ PySpark

In [ ]:
!apt-get update                                                                          # อัพเดท Package ทั้งหมดใน VM ตัวนี้
!apt-get install openjdk-8-jdk-headless -qq > /dev/null                                  # ติดตั้ง Java Development Kit (จำเป็นสำหรับการติดตั้ง Spark)
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz # ติดตั้ง Spark 3.1.2
!tar xzvf spark-3.1.2-bin-hadoop2.7.tgz                                                  # Unzip ไฟล์ Spark 3.1.2
!pip install -q findspark==1.3.0                                                         # ติดตั้ง Package Python สำหรับเชื่อมต่อกับ Spark

In [ ]:
# Set enviroment variable ให้ Python รู้จัก Spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
# ติดตั้ง PySpark ลงใน Python
!pip install pyspark==3.1.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark==3.1.2
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.4/212.4 MB 6.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 KB 26.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880770 sha256=929b5aa4214a91666eb18a307fa004e7daebb11312151c777692fc540f693dd4
  Stored in directory: /root/.cache/pip/wheels/11/17/0b/53e7d10fe66ca7647d391cdba323fcf5b2f9dfcb7ebad87aa7
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
# สร้าง Spark Session เพิ้อใช้งาน Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
import pandas as pd

#คนที่เรียนจบแล้ว
ภายในข้อมูลจะเป็นข้อมูลของคนที่เรียนจบเรียบร้อยแล้ว

In [ ]:
fileNameGrad = "/content/drive/MyDrive/Data/Project/school_records_grad-20220919-enc.csv"

##Load data ใส่ Spark

ใช้คำสั่ง `spark.read.csv` เพื่ออ่านข้อมูลจากไฟล์ CSV

Arguments:

Header = True << บอกให้ Spark รู้ว่าบรรทัดแรกในไฟล์ CSV เป็น Header

Inferschema = True << บอกให้ Spark พยายามเดาว่าแต่ละ column มี type เป็นอะไร [ ถ้าตั้งเป็น False, ทุก column จะถูกอ่านเป็น string (ตัวหนังสือ) ]

Reference: https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameReader.csv.html

In [ ]:
dt = spark.read.csv(fileNameGrad, header = True, inferSchema = True, )

## Data Profiling
Data Profiling เป็นการทำความเข้าใจข้อมูลเบื้องต้น เพื่อที่เราจะได้รู้ว่าข้อมูลนี้มีคอลัมน์ไหนบ้าง ค่าโดยรวมเป็นอย่างไรบ้าง ฯลฯ เพื่อให้เราตัดสินใจได้ต่อว่าจะเช็คที่จุดไหนต่อไป

In [ ]:
#ดูข้อมูลภายใน จำนวน 10 รายการ
dt.show(10)

+--------------------+--------+--------+------+----+--------+-----+
|          student_id|major_id|courseno|credit|year|semester|grade|
+--------------------+--------+--------+------+----+--------+-----+
|59cwLPjko9z+zL03d...|       1|    1101|     3|2559|       1|    A|
|59cwLPjko9z+zL03d...|       1|  203162|     3|2559|       1|    C|
|59cwLPjko9z+zL03d...|       1|  203167|     1|2559|       1|   B+|
|59cwLPjko9z+zL03d...|       1|  206161|     3|2559|       1|    C|
|59cwLPjko9z+zL03d...|       1|  207105|     3|2559|       1|   D+|
|59cwLPjko9z+zL03d...|       1|  207115|     1|2559|       1|   B+|
|59cwLPjko9z+zL03d...|       1|  259104|     3|2559|       1|   C+|
|59cwLPjko9z+zL03d...|       1|  259106|     1|2559|       1|   C+|
|59cwLPjko9z+zL03d...|       1|  259191|     1|2559|       1|    S|
|59cwLPjko9z+zL03d...|       1|    1102|     3|2559|       2|    B|
+--------------------+--------+--------+------+----+--------+-----+
only showing top 10 rows

In [ ]:
# ดูประเภทข้อมูลแต่ละคอลัมน์
dt.dtypes

[('student_id', 'string'),
 ('major_id', 'int'),
 ('courseno', 'int'),
 ('credit', 'int'),
 ('year', 'int'),
 ('semester', 'int'),
 ('grade', 'string')]

In [ ]:
# อีกคำสั่งในการดูข้อมูลแต่ละคอลัมน์ (Schema)
dt.printSchema()

root
 |-- student_id: string (nullable = true)
 |-- major_id: integer (nullable = true)
 |-- courseno: integer (nullable = true)
 |-- credit: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- semester: integer (nullable = true)
 |-- grade: string (nullable = true)

In [ ]:
# นับจำนวน row และ column
print((dt.count(), len(dt.columns)))

(119403, 7)

In [ ]:
# สรุปข้อมูลสถิติ
dt.describe().show()

+-------+--------------------+------------------+------------------+------------------+------------------+------------------+------+
|summary|          student_id|          major_id|          courseno|            credit|              year|          semester| grade|
+-------+--------------------+------------------+------------------+------------------+------------------+------------------+------+
|  count|              119403|            119403|            119403|            119403|            119403|            119403|119403|
|   mean|                null|4.0642781169652356|242740.41836469772| 2.646030669246166|2561.3231242096094|1.5658149292731338|  null|
| stddev|                null|2.2232662294905077| 131505.4245115261|0.8179986812208742|1.3787858484215858| 0.591557319960489|  null|
|    min|59+KRLETpfwh/npFF...|                 1|              1101|                 1|              2559|                 1|     A|
|    max|62XuS+TbpG5f6xYbk...|                10|            953111|                 9|              2564|                 3|     W|
+-------+--------------------+------------------+------------------+------------------+------------------+------------------+------+

In [ ]:
# Colume ไหนมี missvalue บ้าง
dt.summary("count").show()

+-------+----------+--------+--------+------+------+--------+------+
|summary|student_id|major_id|courseno|credit|  year|semester| grade|
+-------+----------+--------+--------+------+------+--------+------+
|  count|    119403|  119403|  119403|119403|119403|  119403|119403|
+-------+----------+--------+--------+------+------+--------+------+

In [ ]:
# หาว่ามี student_id หายไปไหมและข้อมูลนั้นคืออะไร ซึ่งมันไม่มีถ้าดูข้างบนแล้ว
dt.where(dt.student_id.isNull()).show()

+----------+--------+--------+------+----+--------+-----+
|student_id|major_id|courseno|credit|year|semester|grade|
+----------+--------+--------+------+----+--------+-----+
+----------+--------+--------+------+----+--------+-----+

#คนที่ยังเรียนไม่จบ

In [ ]:
fileNameNow = "/content/drive/MyDrive/Data/Project/school_records-20220919-enc.csv"

##Load data ใส่ Spark

ใช้คำสั่ง `spark.read.csv` เพื่ออ่านข้อมูลจากไฟล์ CSV

Arguments:

Header = True << บอกให้ Spark รู้ว่าบรรทัดแรกในไฟล์ CSV เป็น Header

Inferschema = True << บอกให้ Spark พยายามเดาว่าแต่ละ column มี type เป็นอะไร [ ถ้าตั้งเป็น False, ทุก column จะถูกอ่านเป็น string (ตัวหนังสือ) ]

Reference: https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameReader.csv.html

In [ ]:
dt = spark.read.csv(fileNameNow, header = True, inferSchema = True, )

## Data Profiling
Data Profiling เป็นการทำความเข้าใจข้อมูลเบื้องต้น เพื่อที่เราจะได้รู้ว่าข้อมูลนี้มีคอลัมน์ไหนบ้าง ค่าโดยรวมเป็นอย่างไรบ้าง ฯลฯ เพื่อให้เราตัดสินใจได้ต่อว่าจะเช็คที่จุดไหนต่อไป

In [ ]:
#ดูข้อมูลภายใน จำนวน 10 รายการ
dt.show(10)

+--------------------+--------+--------+------+----+--------+-----+
|          student_id|major_id|courseno|credit|year|semester|grade|
+--------------------+--------+--------+------+----+--------+-----+
|58wpyq5YmzW41nlNi...|       2|    1101|     3|2558|       1|    B|
|58wpyq5YmzW41nlNi...|       2|  203162|     3|2558|       1|    W|
|58wpyq5YmzW41nlNi...|       2|  203167|     1|2558|       1|   C+|
|58wpyq5YmzW41nlNi...|       2|  206161|     3|2558|       1|    F|
|58wpyq5YmzW41nlNi...|       2|  207105|     3|2558|       1|    W|
|58wpyq5YmzW41nlNi...|       2|  207115|     1|2558|       1|   C+|
|58wpyq5YmzW41nlNi...|       2|  259104|     3|2558|       1|   C+|
|58wpyq5YmzW41nlNi...|       2|  259109|     3|2558|       1|    C|
|58wpyq5YmzW41nlNi...|       2|  259191|     1|2558|       1|    S|
|58wpyq5YmzW41nlNi...|       2|    1102|     3|2558|       2|   C+|
+--------------------+--------+--------+------+----+--------+-----+
only showing top 10 rows

In [ ]:
# ดูประเภทข้อมูลแต่ละคอลัมน์
dt.dtypes

[('student_id', 'string'),
 ('major_id', 'int'),
 ('courseno', 'int'),
 ('credit', 'int'),
 ('year', 'int'),
 ('semester', 'int'),
 ('grade', 'string')]

In [ ]:
# อีกคำสั่งในการดูข้อมูลแต่ละคอลัมน์ (Schema)
dt.printSchema()

root
 |-- student_id: string (nullable = true)
 |-- major_id: integer (nullable = true)
 |-- courseno: integer (nullable = true)
 |-- credit: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- semester: integer (nullable = true)
 |-- grade: string (nullable = true)

In [ ]:
# นับจำนวน row และ column
print((dt.count(), len(dt.columns)))

(99607, 7)

In [ ]:
# สรุปข้อมูลสถิติ
dt.describe().show()

+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+-----+
|summary|          student_id|         major_id|          courseno|            credit|              year|          semester|grade|
+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+-----+
|  count|               99607|            99607|             99607|             99607|             99607|             99607|99607|
|   mean|                null|4.112080476271748|229098.45353238226|2.5932514783097576| 2563.078990432399|1.5606935255554328| null|
| stddev|                null|2.147603175931257|127750.67835641174|0.8192191705715658|1.0412380558312189|0.5910368955347598| null|
|    min|581+eqTb9rGr0MpH+...|                1|              1101|                 1|              2558|                 1|    A|
|    max|65zUfvTQhBABz/zei...|               13|            953111|                 9|              2565|                 3|    W|
+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+-----+

In [ ]:
# Colume ไหนมี missvalue บ้าง
dt.summary("count").show()

+-------+----------+--------+--------+------+-----+--------+-----+
|summary|student_id|major_id|courseno|credit| year|semester|grade|
+-------+----------+--------+--------+------+-----+--------+-----+
|  count|     99607|   99607|   99607| 99607|99607|   99607|99607|
+-------+----------+--------+--------+------+-----+--------+-----+

In [ ]:
# หาว่ามี student_id หายไปไหมและข้อมูลนั้นคืออะไร ซึ่งมันไม่มีถ้าดูข้างบนแล้ว
dt.where(dt.student_id.isNull()).show()

+----------+--------+--------+------+----+--------+-----+
|student_id|major_id|courseno|credit|year|semester|grade|
+----------+--------+--------+------+----+--------+-----+
+----------+--------+--------+------+----+--------+-----+

# คนที่จบกลางคัน

In [ ]:
fileNameOut = "/content/drive/MyDrive/Data/Project/school_records_out-20220919-enc.csv"

##Load data ใส่ Spark

ใช้คำสั่ง `spark.read.csv` เพื่ออ่านข้อมูลจากไฟล์ CSV

Arguments:

Header = True << บอกให้ Spark รู้ว่าบรรทัดแรกในไฟล์ CSV เป็น Header

Inferschema = True << บอกให้ Spark พยายามเดาว่าแต่ละ column มี type เป็นอะไร [ ถ้าตั้งเป็น False, ทุก column จะถูกอ่านเป็น string (ตัวหนังสือ) ]

Reference: https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameReader.csv.html

In [ ]:
dt = spark.read.csv(fileNameOut, header = True, inferSchema = True, )

## Data Profiling
Data Profiling เป็นการทำความเข้าใจข้อมูลเบื้องต้น เพื่อที่เราจะได้รู้ว่าข้อมูลนี้มีคอลัมน์ไหนบ้าง ค่าโดยรวมเป็นอย่างไรบ้าง ฯลฯ เพื่อให้เราตัดสินใจได้ต่อว่าจะเช็คที่จุดไหนต่อไป

In [ ]:
#ดูข้อมูลภายใน จำนวน 10 รายการ
dt.show(10)

+--------------------+--------+--------+------+----+--------+-----+
|          student_id|major_id|courseno|credit|year|semester|grade|
+--------------------+--------+--------+------+----+--------+-----+
|59vRvFTlxqHdPBFOk...|       1|    1101|     3|2559|       1|   D+|
|59vRvFTlxqHdPBFOk...|       1|  203162|     3|2559|       1|    W|
|59vRvFTlxqHdPBFOk...|       1|  203167|     1|2559|       1|   C+|
|59vRvFTlxqHdPBFOk...|       1|  206161|     3|2559|       1|    W|
|59vRvFTlxqHdPBFOk...|       1|  207105|     3|2559|       1|    F|
|59vRvFTlxqHdPBFOk...|       1|  207115|     1|2559|       1|    B|
|59vRvFTlxqHdPBFOk...|       1|  259104|     3|2559|       1|    F|
|59vRvFTlxqHdPBFOk...|       1|  259106|     1|2559|       1|    C|
|59vRvFTlxqHdPBFOk...|       1|  259191|     1|2559|       1|    S|
|59vRvFTlxqHdPBFOk...|       1|    1102|     3|2559|       2|    D|
+--------------------+--------+--------+------+----+--------+-----+
only showing top 10 rows

In [ ]:
# ดูประเภทข้อมูลแต่ละคอลัมน์
dt.dtypes

[('student_id', 'string'),
 ('major_id', 'int'),
 ('courseno', 'int'),
 ('credit', 'int'),
 ('year', 'int'),
 ('semester', 'int'),
 ('grade', 'string')]

In [ ]:
# อีกคำสั่งในการดูข้อมูลแต่ละคอลัมน์ (Schema)
dt.printSchema()

root
 |-- student_id: string (nullable = true)
 |-- major_id: integer (nullable = true)
 |-- courseno: integer (nullable = true)
 |-- credit: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- semester: integer (nullable = true)
 |-- grade: string (nullable = true)

In [ ]:
# นับจำนวน row และ column
print((dt.count(), len(dt.columns)))

(23174, 7)

In [ ]:
# สรุปข้อมูลสถิติ
dt.describe().show()

+-------+--------------------+------------------+------------------+------------------+------------------+------------------+-----+
|summary|          student_id|          major_id|          courseno|            credit|              year|          semester|grade|
+-------+--------------------+------------------+------------------+------------------+------------------+------------------+-----+
|  count|               23174|             23174|             23174|             23174|             23174|             23174|23173|
|   mean|                null| 4.416069733321827|221835.08975576077|2.5234314317769915| 2561.293993268318|1.4650901872788469| null|
| stddev|                null|2.0981839415450065|132899.10335207416|0.8468027534378018|1.5055246276293417|0.5614701175845671| null|
|    min|59+dTccijsLcBDVQJ...|                 1|              1101|                 1|              2559|                 1|    A|
|    max|65n+gzgB9PbeTdj6n...|                12|            953111|                 4|              2565|                 3|    W|
+-------+--------------------+------------------+------------------+------------------+------------------+------------------+-----+

In [ ]:
# Colume ไหนมี missvalue บ้าง
dt.summary("count").show()

+-------+----------+--------+--------+------+-----+--------+-----+
|summary|student_id|major_id|courseno|credit| year|semester|grade|
+-------+----------+--------+--------+------+-----+--------+-----+
|  count|     23174|   23174|   23174| 23174|23174|   23174|23173|
+-------+----------+--------+--------+------+-----+--------+-----+

In [ ]:
# หาว่ามี student_id หายไปไหมและข้อมูลนั้นคืออะไร ซึ่งมันไม่มีถ้าดูข้างบนแล้ว
dt.where(dt.student_id.isNull()).show()

+----------+--------+--------+------+----+--------+-----+
|student_id|major_id|courseno|credit|year|semester|grade|
+----------+--------+--------+------+----+--------+-----+
+----------+--------+--------+------+----+--------+-----+

#ทำการเพิ่ม column ทีมีชื่อว่า Item
โดยทำการผ่าน excel ใช้คำสั่ง = ... &"="& ...

หลังจากแก้ไขเพิ่มเติมใน excel แล้ว นำกลับเข้ามาทำการ Endcode

#ทำการ endcode ดังนี้

In [ ]:
import pandas as pd

แก้ไขเพิ่มเติมตั้งแต่จุดนี้

In [ ]:
fileName_enc = "/content/drive/MyDrive/Data/Project/ข้อมูลเตรียมการเข้า colab/เชื่อม = /enc_excel.xlsx"
fileName_enc_grad = "/content/drive/MyDrive/Data/Project/ข้อมูลเตรียมการเข้า colab/เชื่อม = /enc_grad_excel.xlsx"
fileName_enc_out = "/content/drive/MyDrive/Data/Project/ข้อมูลเตรียมการเข้า colab/เชื่อม = /enc_out_excel.xlsx"

In [ ]:
enc = pd.read_excel(fileName_enc)
enc_grad = pd.read_excel(fileName_enc_grad)
enc_out = pd.read_excel(fileName_enc_out)

In [ ]:
all_in_one = pd.concat([ enc , enc_grad , enc_out ], ignore_index=True)

In [ ]:
all_in_one

,student_id,major_id,courseno,credit,year,semester,grade,Item
0,581+eqTb9rGr0MpH+FTqWIFQ==,10,1101,3,2558,1,C+,1101=C+
1,581+eqTb9rGr0MpH+FTqWIFQ==,10,206161,3,2558,1,W,206161=W
2,581+eqTb9rGr0MpH+FTqWIFQ==,10,207105,3,2558,1,W,207105=W
3,581+eqTb9rGr0MpH+FTqWIFQ==,10,259104,3,2558,1,F,259104=F
4,581+eqTb9rGr0MpH+FTqWIFQ==,10,261102,3,2558,1,D,261102=D
...,...,...,...,...,...,...,...,...
11254,64B1Usu3St8oKZyEfOtc2huQ==,10,206161,3,2564,1,W,206161=W
11255,64B1Usu3St8oKZyEfOtc2huQ==,10,207105,3,2564,1,W,207105=W
11256,64B1Usu3St8oKZyEfOtc2huQ==,10,259104,3,2564,1,W,259104=W
11257,64B1Usu3St8oKZyEfOtc2huQ==,10,269101,3,2564,1,F,269101=F
11258,64B1Usu3St8oKZyEfOtc2huQ==,10,269102,3,2564,1,W,269102=W

In [ ]:
df_replace= all_in_one.replace(['A','B+','B','C+','C','D+','D','W','F'],[1,1,1,1,1,1,1,1,1])
df_pivot_enc_all = pd.pivot_table(df_replace, 
                            index = ['student_id'],
                            columns=['Item'], 
                            values='grade',
                            fill_value=0).reset_index()

In [ ]:
df_pivot_enc_all

Item,student_id,100305=A,103262=A,103262=B,103271=A,103271=B,103271=B+,103271=C,103271=C+,103271=D,...,951100=B,951100=B+,951100=C+,951100=W,953111=A,953111=B,953111=B+,953111=C+,953111=D+,953111=W
0,56++2rWA5Isa6ZYtknFMIpyQ==,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,56+UrswImydV8rhPHLuyxjSA==,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,561hXdjImKhE+6v+/wiRVqNQ==,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,562ELeGlGMYpSSNXaE7H3BPg==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,563PxlSxnbUcP+vTRyeXCRlA==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,65f2sMSLvvknoFXnAhOo0Jtg==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
315,65kRNijACrZVCP0B5jw0N1zA==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
316,65tspkxy+hX2mSIulyMGS8NQ==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
317,65ttpClQbHTAaEXHZbRBEY6g==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
318,65xVDGa0cUKpbYBxzqFGWvoA==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import os  
os.makedirs('folder/subfolder', exist_ok=True)  
df_pivot_enc_all.to_csv('folder/subfolder/enc_all_isne.csv')

## ตัวอย่างข้อมูล

In [ ]:
enc

                      student_id  major_id  courseno grade       Item
0     58CQz4I/hp+2pR+axA59V0lg==         8      1101     B     1101=B
1     58CQz4I/hp+2pR+axA59V0lg==         8    206161     W   206161=W
2     58CQz4I/hp+2pR+axA59V0lg==         8    207105    D+  207105=D+
3     58CQz4I/hp+2pR+axA59V0lg==         8    207115     B   207115=B
4     58CQz4I/hp+2pR+axA59V0lg==         8    259104    C+  259104=C+
...                          ...       ...       ...   ...        ...
8400  64ySQv2Y8KAj7z2gu1S5YM2g==         8    254182     A   254182=A
8401  64ySQv2Y8KAj7z2gu1S5YM2g==         8    259104     B   259104=B
8402  64ySQv2Y8KAj7z2gu1S5YM2g==         8    261102     F   261102=F
8403  64ySQv2Y8KAj7z2gu1S5YM2g==         8    206162     D   206162=D
8404  64ySQv2Y8KAj7z2gu1S5YM2g==         8    515101     A   515101=A

[8405 rows x 5 columns]

In [ ]:
enc_grad

                       student_id  major_id  courseno grade       Item
0      5938H70ZvtNv/uoT3mNd0Cew==         8      1101    B+    1101=B+
1      5938H70ZvtNv/uoT3mNd0Cew==         8    201114     B   201114=B
2      5938H70ZvtNv/uoT3mNd0Cew==         8    206161     B   206161=B
3      5938H70ZvtNv/uoT3mNd0Cew==         8    207105    C+  207105=C+
4      5938H70ZvtNv/uoT3mNd0Cew==         8    207115    B+  207115=B+
...                           ...       ...       ...   ...        ...
10934  61sOAUKFhEHNR6/nYd2FTDxw==         8    851100     B   851100=B
10935  61sOAUKFhEHNR6/nYd2FTDxw==         8    261208    C+  261208=C+
10936  61sOAUKFhEHNR6/nYd2FTDxw==         8    261306     C   261306=C
10937  61sOAUKFhEHNR6/nYd2FTDxw==         8    261449     A   261449=A
10938  61sOAUKFhEHNR6/nYd2FTDxw==         8    261492     A   261492=A

[10939 rows x 5 columns]

In [ ]:
enc_out

                      student_id  major_id  courseno grade       Item
0     59gYDM9TtQ0VCVH9FgQiu7mQ==         8    206161     W   206161=W
1     59gYDM9TtQ0VCVH9FgQiu7mQ==         8    207105     W   207105=W
2     59gYDM9TtQ0VCVH9FgQiu7mQ==         8    207115     W   207115=W
3     59gYDM9TtQ0VCVH9FgQiu7mQ==         8    259104     W   259104=W
4     59gYDM9TtQ0VCVH9FgQiu7mQ==         8    259106     W   259106=W
...                          ...       ...       ...   ...        ...
2183  64H69iMkc0tg8JZDIpqpNpEQ==         8    207105     F   207105=F
2184  64H69iMkc0tg8JZDIpqpNpEQ==         8    207116     C   207116=C
2185  64H69iMkc0tg8JZDIpqpNpEQ==         8    252281    D+  252281=D+
2186  64H69iMkc0tg8JZDIpqpNpEQ==         8    259104     D   259104=D
2187  64H69iMkc0tg8JZDIpqpNpEQ==         8    261102     F   261102=F

[2188 rows x 5 columns]

## รวมไฟล์ก่อนเลย

In [ ]:
all_in_one = pd.concat([ enc , enc_grad , enc_out ], ignore_index=True)

In [ ]:
all_in_one

                       student_id  major_id  courseno grade       Item
0      58CQz4I/hp+2pR+axA59V0lg==         8      1101     B     1101=B
1      58CQz4I/hp+2pR+axA59V0lg==         8    206161     W   206161=W
2      58CQz4I/hp+2pR+axA59V0lg==         8    207105    D+  207105=D+
3      58CQz4I/hp+2pR+axA59V0lg==         8    207115     B   207115=B
4      58CQz4I/hp+2pR+axA59V0lg==         8    259104    C+  259104=C+
...                           ...       ...       ...   ...        ...
21527  64H69iMkc0tg8JZDIpqpNpEQ==         8    207105     F   207105=F
21528  64H69iMkc0tg8JZDIpqpNpEQ==         8    207116     C   207116=C
21529  64H69iMkc0tg8JZDIpqpNpEQ==         8    252281    D+  252281=D+
21530  64H69iMkc0tg8JZDIpqpNpEQ==         8    259104     D   259104=D
21531  64H69iMkc0tg8JZDIpqpNpEQ==         8    261102     F   261102=F

[21532 rows x 5 columns]

In [ ]:
df_replace= all_in_one.replace(['A','B+','B','C+','C','D+','D','W','F'],[1,1,1,1,1,1,1,1,1])
df_pivot_enc_all = pd.pivot_table(df_replace, 
                            index = ['student_id'],
                            columns=['Item'], 
                            values='grade',
                            fill_value=0).reset_index()

In [ ]:
df_pivot_enc_all

In [ ]:
import os  
os.makedirs('folder/subfolder', exist_ok=True)  
df_pivot_enc_all.to_csv('folder/subfolder/enc_all.csv')